@page "/"

<PageTitle>Index</PageTitle>

<h1>What's Up with this Ian Cornett guy?</h1>

Welcome to my website and blog!  My name is Ian Cornett, and I'm a 



@code {

    int yearsOld = new int();
    

}